<%= provide :title, 'All users' %>

<div class="col-sm-offset-3 col-sm-6">
  <h1 class="center-block">All users</h1>

  <%= will_paginate %>

  <ul class="list-unstyled">
    <%= render @users %>
  </ul>

  <%= will_paginate %>

</div>