<% if error_object.errors.any? %>
  <div class="alert alert-error" type="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only"></span>
    The form contains <%= pluralize(error_object.errors.count, "error") %>.
  </div>
  <div class="error-details">
    <ul>
      <% error_object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>  
  </div>
<% end %>