<p><strong><%= wrap(micropost.content) %></strong></p>
<p>
  <small><%= time_ago_in_words(micropost.created_at) %></small>

  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete, data: { confirm: "Are you sure?"}, title: micropost.content  %>
  <% end %>
</p>