<div class="row page-home">
  <div class="col-sm-offset-1 col-sm-3">
    <%= render 'shared/user_info' %>
    <%= render 'shared/micropost_form' %>
  </div>
  <div class="col-sm-8">
    <h3>Micropost feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>