@import "bootstrap-sprockets";
@import "bootstrap";

// 使用bootstrap CDN
// @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

// 路径可以写 /assets/bootstrap/glyphicons...eot绝对路径，也可以省略 assets前面，写相对路径
@font-face{
  font-family:'Glyphicons Halflings';
  src: url("bootstrap/glyphicons-halflings-regular.eot");
  src: url("bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"),
       url("bootstrap/glyphicons-halflings-regular.woff") format("woff"),
       url("bootstrap/glyphicons-halflings-regular.ttf") format("truetype"),
       url("bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}

.center-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-container {
  // .navbar中 margin-bottom: 20px;
  margin-top: -20px;
  padding: 0;
}

.footer {
  li {
    margin-right: 15px;
  }
}

.user-profile {

  .gravatar {

  }
}

.page-signup {
  .signup {
    margin: 10px 10px 0 10px;
  }
}

