@import "bootstrap-sprockets";
@import "bootstrap";

.center-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-container {
  // .navbar中 margin-bottom: 20px;
  margin-top: -20px;
  padding: 0;
}

.footer {
  li {
    margin-right: 15px;
  }
}

.user-profile {

  .gravatar {

  }
}

.page-signup {
  .signup {
    margin: 10px 10px 0 10px;
  }
}

