@import "bootstrap";

.center-block {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.main-container {
  // .navbar中 margin-bottom: 20px;
  margin-top: -20px;
  padding: 0;
}

.footer {
  li {
    margin-right: 15px;
  }
}

.user-profile {

  .gravatar {

  }
}

.page-signup {

  .signup {
    text-align: left;
  }

  .form-group {
    height: 30px;
    // margin-bottom: 10px;
  }

  .form-control {
    
  }
  label {
    width: 20%;
    float: left;
  }
  input {
    width: 60%;
    float: left;
  }

}

